{%extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content%}
<div id="container">
<form  action ="{%url 'add'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
       
               <button class="login100-form-btn btn-primary">
                  Add
               </button>
               <button class="login100-form-btn btn-danger" style="margin-left:20px;">
                   <a href="/"> Back </a>
                </button>
       </div>
   </form> 
{%endblock%}