{%extends 'base.html'%}
{% load bootstrap3 %}

{% block content%}
<div id="container">
   
<form  action ="{%url 'add'%}" method="post" enctype="multipart/form-data" class="form-group">
    {% csrf_token %}
    {% bootstrap_form form%}
       
               <button class="login100-form-btn btn-primary">
                  Add
               </button>
               <button class="login100-form-btn btn-danger" style="margin-left:20px;">
                   <a href="/"> Back </a>
                </button>


                
       </div>
   </form> 
{%endblock%}